Repository henriq4/universityOn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write, flutter format, clang-format -i

feat(decision-tree): create project
  projects/decision-tree/.vscode/settings.json
  projects/decision-tree/Makefile
  projects/decision-tree/decision-tree.c
  projects/decision-tree/decision-tree.h
  projects/decision-tree/decision-tree.sh
  projects/decision-tree/index.c
  projects/decision-tree/tests/test.txt
  projects/decision-tree/tmp/out.txt
  projects/decision-tree/tree.h
Due: pnpm prettier --write, clang-format -i

feat(projects/vehicle-manager): add toString method in Vehicle
  projects/vehicle-manager/src/main/java/model/Vehicle.java
  projects/vehicle-manager/src/main/java/model/VehicleUse.java
Due: none

fix(projects/vehicle-manager): add missing imports
  projects/vehicle-manager/src/main/java/app/ListDrivers.java
  projects/vehicle-manager/src/main/java/app/ListVehicles.java
Due: none

feat(vehicle-manager): create get driver by vehicle and withdraw - controller and screen
  projects/vehicle-manager/src/main/java/app/GetWithdrawVehicle.java
  projects/vehicle-manager/src/main/java/app/Menu.java
  projects/vehicle-manager/src/main/resources/app/getWithdrawVehicle.fxml
  projects/vehicle-manager/src/main/resources/app/menu.fxml
Due: none

feat: delete decision tree project
  projects/decision-tree/.gitignore
  projects/decision-tree/.vscode/settings.json
  projects/decision-tree/Makefile
  projects/decision-tree/assets/training.txt
  projects/decision-tree/decision-tree.c
  projects/decision-tree/decision-tree.h
  projects/decision-tree/decision-tree.sh
  projects/decision-tree/index.c
  projects/decision-tree/tests/test.txt
  projects/decision-tree/tmp/out.txt
Due: pnpm prettier --write, clang-format -i

feat(project_data_structure): adding data struct project submodule - WIP
  .gitmodules
  pnpm-lock.yaml
Due: pnpm prettier --write

chore(turing-machine): refactoring code to satisfied eslint
  projects/turing-machine/src/services/TuringMachineService.ts
Due: none

feat(vehicle-manager): adding toString method to vehicle use model
  projects/vehicle-manager/src/main/java/model/VehicleUse.java
Due: none

feat(vehicle-manager): adding verifications inside selectioned date in get withdraw vehicle
  projects/vehicle-manager/src/main/java/app/GetWithdrawVehicle.java
Due: none

fix(turing-machine): verify if is out of tape and add blank symbol
  projects/turing-machine/src/services/TuringMachineService.ts
Due: none

feat(turing-machine): adding loader util function to read the file paths
  projects/turing-machine/package.json
  projects/turing-machine/pnpm-lock.yaml
  projects/turing-machine/src/models/Loader.ts
  projects/turing-machine/src/utils/loader.ts
Due: pnpm prettier --write

feat(turing-machine): creating a main function to run the program
  projects/turing-machine/index.ts
  projects/turing-machine/src/main.ts
  projects/turing-machine/src/services/TuringMachineService.ts
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{tsx}
  pnpm prettier --write: any of: *.{json,yml,yaml}
  flutter format: any of: *.dart
  clang-format -i: any of: *.c
