Repository henriq4/universityOn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write, flutter format, clang-format -i

fix: formatting c files
  activities/C/recursion/6.c
  activities/C/recursion/7.c
  activities/C/recursion/8.c
  activities/C/recursion/9.c
  justfile
Due: clang-format -i

chore(projects): non-deterministic-finite-automata - initializating the cli
  projects/non-determinist-finite-automata/package.json
  projects/non-determinist-finite-automata/pnpm-lock.yaml
Due: pnpm prettier --write

chore(class): moving determinist-automato basic implementation to class
  class/computation_theory/determinist-finite-automata/.gitignore
  class/computation_theory/determinist-finite-automata/README.md
  class/computation_theory/determinist-finite-automata/database/table.ts
  class/computation_theory/determinist-finite-automata/index.ts
  class/computation_theory/determinist-finite-automata/package-lock.json
  class/computation_theory/determinist-finite-automata/package.json
  class/computation_theory/determinist-finite-automata/pnpm-lock.yaml
  class/computation_theory/determinist-finite-automata/tsconfig.json
Due: pnpm prettier --write

fix(projects): rename finite automata cli
  projects/finite-automata-cli/package.json
  projects/finite-automata-cli/pnpm-lock.yaml
Due: pnpm prettier --write

chore(projects): adding typescript and inquirer dep
  projects/finite-automata-cli/package.json
  projects/finite-automata-cli/pnpm-lock.yaml
  projects/finite-automata-cli/tsconfig.json
Due: pnpm prettier --write

feat(projects/finite-automata): create cli service module
  projects/finite-automata-cli/modules/cli/index.ts
Due: none

fix(projects/finite-automata): adding missing .gitignore
  projects/finite-automata-cli/.gitignore
Due: none

chore(projects/finite-automata): create tests automata and input files
  projects/finite-automata-cli/tests/automata.json
  projects/finite-automata-cli/tests/input.csv
Due: pnpm prettier --write

feat(projects/finite-automata): create automata dto
  projects/finite-automata-cli/dtos/automata.ts
Due: none

chore(projects/finite-automata): create automata model
  projects/finite-automata-cli/models/automata.ts
Due: none

chore(projects/finite-automata): create input model
  projects/finite-automata-cli/models/input.ts
Due: none

chore(projects/finite-automata): create transitions model
  projects/finite-automata-cli/models/automata.ts
  projects/finite-automata-cli/models/transition.ts
Due: none

chore(projects/finite-automata): create output model
  projects/finite-automata-cli/models/index.ts
  projects/finite-automata-cli/models/output.ts
Due: none

chore(projects/finite-automata): passing files to src directory
  projects/finite-automata-cli/dtos/automata.ts
  projects/finite-automata-cli/models/automata.ts
  projects/finite-automata-cli/models/index.ts
  projects/finite-automata-cli/models/input.ts
  projects/finite-automata-cli/models/output.ts
  projects/finite-automata-cli/models/transition.ts
  projects/finite-automata-cli/modules/cli/index.ts
  projects/finite-automata-cli/tests/automata.json
  projects/finite-automata-cli/tests/input.csv
Due: pnpm prettier --write

fix(projects/finite-automata): removing old dependencies
  projects/finite-automata-cli/package.json
  projects/finite-automata-cli/pnpm-lock.yaml
Due: pnpm prettier --write

chore(projects/finite-automata): adding additionals transpilers config
  projects/finite-automata-cli/tsconfig.json
Due: pnpm prettier --write

chore(projects/finite-automata): adding tests inputs
  projects/finite-automata-cli/src/input/automata.aut
  projects/finite-automata-cli/src/input/ex1/ex1.aut
  projects/finite-automata-cli/src/input/ex1/ex1_input.in
  projects/finite-automata-cli/src/input/input.in
Due: none

feat(projects/finite-automata): create automata input from json parser
  projects/finite-automata-cli/src/dtos/automata.ts
Due: none

feat(projects/finite-automata): create automata input from csv parser
  projects/finite-automata-cli/src/dtos/automata.ts
Due: none

feat(projects/finite-automata): create automata service - for determinist machines
  projects/finite-automata-cli/src/services/automata.ts
Due: none

chore(projects/finite-automata): create state name function util
  projects/finite-automata-cli/src/utils/createStateName.ts
Due: none

chore(projects/finite-automata): run and printing application
  projects/finite-automata-cli/src/index.ts
Due: none

chore(projects/finite-automata): create automata final model
  projects/finite-automata-cli/src/models/automata.ts
Due: none

chore(projects/finite-automata): create automata initial model and input model
  projects/finite-automata-cli/src/models/input.ts
Due: none

chore(projects/finite-automata): create output model
  projects/finite-automata-cli/src/models/index.ts
  projects/finite-automata-cli/src/models/output.ts
Due: none

fix(projects/finite-automata): .gitkeep in output folder
  projects/finite-automata-cli/src/output/.gitkeep
Due: none

feat(projects/finite-automata): create generate output function
  projects/finite-automata-cli/src/dtos/automata.ts
Due: none

fix(projects/finite-automata): change value boolean to 1 | 0 type
  projects/finite-automata-cli/src/models/input.ts
  projects/finite-automata-cli/src/models/output.ts
  projects/finite-automata-cli/src/services/automata.ts
Due: none

chore(projects/finite-automata): run and generate output file
  projects/finite-automata-cli/src/index.ts
  projects/finite-automata-cli/src/output/output.out
Due: none

chore(projects/finite-automata): adding more inputs examples - dfa's and nfa's
  projects/finite-automata-cli/src/input/ex2/ex2.aut
  projects/finite-automata-cli/src/input/ex2/ex2_input.in
  projects/finite-automata-cli/src/input/ex3/ex3.aut
  projects/finite-automata-cli/src/input/ex3/ex3_input.in
Due: none

chore(projects/finite-automata): alterating cli error message
  projects/finite-automata-cli/src/index.ts
Due: none

chore(projects/finite-automata): adding more inputs to testing nfa's
  projects/finite-automata-cli/src/input/ex3/ex3.aut
  projects/finite-automata-cli/src/input/ex3/ex3_input.in
  projects/finite-automata-cli/src/input/ex4/ex4.aut
  projects/finite-automata-cli/src/input/ex4/ex4_input.in
Due: none

fix(projects/finite-automata): transition map type
  projects/finite-automata-cli/src/models/automata.ts
Due: none

fix(projects/finite-automata): time milessencods output type
  projects/finite-automata-cli/src/models/output.ts
Due: none

fix(projects/finite-automata): starting e-nfa - reading a null entry
  projects/finite-automata-cli/src/models/input.ts
Due: none

chore(projects/finite-automata): e-nfa map transition - separate maps, one for nullables and char's
  projects/finite-automata-cli/src/dtos/automata.ts
Due: none

chore(projects/finite-automata): adding time milesconds calculus
  projects/finite-automata-cli/src/services/automata.ts
Due: none

feat(projects/finite-automata): create readme documentation for project
  projects/finite-automata-cli/README.md
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{tsx}
  pnpm prettier --write: any of: *.{json,yml,yaml}
  flutter format: any of: *.dart
  clang-format -i: any of: *.c
